@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 400 14px / 1.2 Rubik, sans-serif;
}

body {
    background-color: #333;
    color: #000;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}